*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f4f4f4;
    color: #333;
}
header{
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #8e44ad;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}
nav ul li:hover{
    color: #8e44ad;
}
main{
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 2opx;
}
.about{
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.content{
    display: inline-flex;
}
.text{
    flex: 1;
    margin-right: 20px;
}
.text p{
    margin-bottom: 20px;
    line-height: 1.6;
    color: #666;
}
.photo{
    max-width: 300px;
    text-align: center;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
footer{
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
    text-align: center;
}
footer p{
    margin-bottom: 1opx;
    color:#666;
}
.contact{
    display: flex;
    
}